body, html{
  margin: 0;
  padding: 0;
  height: 100%;
  background: #111 linear-gradient(#0D0C1C, #34608D);
  background: #111 linear-gradient(#0D0C1C, #271920);
  overflow: hidden;
}

.stage {
  display: table;
  width: 100%;
  height: 100%;
}

.stage-container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

canvas {
  background: #37392b;
  border: 1px solid #34608D;
 -webkit-overflow-scrolling: touch;
}
